<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectPRN</title>
    <!-- ==== Favicon ==== -->
    <link rel="icon" href="favicon.png" type="image/png">
    <!-- ==== Google Font ==== -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700%7CRoboto:300,400,400i,500,700">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectPRN.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/plugins.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/colors/color-1.css" asp-append-version="true" id="changeColorScheme" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/1bd9fa3a2e.js" crossorigin="anonymous"></script>
</head>
<body class="wrapper">
    <!-- Header Section Start -->
    <header class="header--section style--1">

        <!-- Header Topbar Start -->
        <div id="header--toppart" class="header--topbar bg-white">
            <div class="container">
                <!-- Header Topbar Links Start -->
                <ul class="header--topbar-links nav ff--primary float--left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>VIE</span>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="active"><a href="#">VIE</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Header Topbar Links End -->
                <!-- Header Topbar Social Start -->
                <ul class="header--topbar-social nav float--left hidden-xs">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <!-- Header Topbar Social End -->
                <!-- Header Topbar Links Start -->
                <ul class="header--topbar-links nav ff--primary float--right">

                    @* ELEMENT CART *@
                    @* <li>
                        <a href="cart.html" title="Cart" data-toggle="tooltip" data-placement="bottom">
                            <i class="fa fa-shopping-basket"></i>
                            <span class="badge">3</span>
                        </a>
                    </li> *@
                    <li>
                        <a href="#" class="btn-link">
                            <i class="fa mr--8 fa-user-o"></i>
                            <span>My Account</span>
                        </a>
                    </li>
                </ul>
                <!-- Header Topbar Links End -->
            </div>
        </div>
        <!-- Header Topbar End -->

        <!-- Header Navbar Start -->
        <div id="sticky--wrapper" class="header--navbar navbar" data-trigger="sticky">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerNav">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Header Navbar Logo Start -->
                    <div class="header--navbar-logo navbar-brand">
                        <a href="">
                            <img src="~/image/logo.jpg" class="normal" alt="" style="width: 138px; height: 80px;">
                            <img src="~/image/logo.jpg" class="sticky" alt="">
                        </a>
                    </div>
                    <!-- Header Navbar Logo End -->
                </div>

                <div id="headerNav" class="float--right">
                    <!-- Header Nav Links Start -->
                    <ul class="header--nav-links style--1 nav ff--primary">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Home</span>
                                @* <i class="fa fa-caret-down"></i> *@
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href=""><span>Home Version 1</span></a></li>
                                <li><a href=""><span>Home Version 2</span></a></li>
                                <li><a href=""><span>Home Version 3</span></a></li>
                                <li><a href=""><span>Home Version 4</span></a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Community</span>
                                @* <i class="fa fa-caret-down"></i> *@
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href=""><span>Activity</span></a></li>
                                <li><a href=""><span>Members</span></a></li>
                                <li><a href=""><span>Groups</span></a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>BBPress</span>
                                @* <i class="fa fa-caret-down"></i> *@
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="">Forums</a></li>
                                <li><a href="">Sub Forums</a></li>
                                <li><a href="">Topics</a></li>
                                <li><a href="">Topic Replies</a></li>
                            </ul>
                        </li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>News</span>
                                @* <i class="fa fa-caret-down"></i> *@
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="">News category 1</a></li>
                                <li><a href="">News category 2</a></li>
                                <li><a href="">News category 3</a></li>
                                <li><a href="">News category 4</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Services</span>
                                @* <i class="fa fa-caret-down"></i> *@
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="">List of expert</a></li>
                                <li><a href="">Service 1</a></li>
                                <li><a href="">Service 2</a></li>
                            </ul>
                        </li>
                        <li><a href=""><span>Contact</span></a></li>
                    </ul>
                    <!-- Header Nav Links End -->
                </div>
            </div>
        </div>
        <!-- Header Navbar End -->

    </header>
    <!-- Header Section End -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ProjectPRN - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/plugins.min.js"></script>
    <!-- ==== Color Switcher Plugin ==== -->
    <script src="~/js/color-switcher.min.js"></script>
    <!-- ==== Main Script ==== -->
    <script src="~/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
